@import 'variables.module.scss';

.newTaskTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: $default-font-family;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.textConfirmationDelete {
  display: inline-block;
  font-size: $default-font-size;
  font-family: $default-font-family;
  font-weight: 400;
  margin-bottom: 1rem;
  color: hsla(0, 0%, 0%, 0.54);

}