.defaultInput {
  border-radius: 8px;
  border: 1px solid hsla(220, 29%, 88%, 1);
  padding: 1rem;
  color: hsla(0, 0%, 0%, 0.56);
  padding: 1rem 1.5rem;
  width: 100%;
  outline: none;
  margin-bottom: 2rem;
}
